body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

p {
  font-size: 1em; }

svg text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em; }

header {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1000;
  border-bottom: 1px solid black; }
  header .main-logo {
    height: 2.5em; }

.poll_chart {
  position: relative; }
  .poll_chart svg {
    width: 100%;
    height: 100%; }
  .poll_chart svg {
    position: absolute;
    left: 0;
    top: 0; }
  .poll_chart svg {
    shape-rendering: crispEdges;
    overflow: visible; }
    .poll_chart svg .axis--x path {
      /*display: none;*/ }
    .poll_chart svg .axis path {
      opacity: .1;
      stroke-width: 1; }
    .poll_chart svg .axis--y path {
      display: none; }
    .poll_chart svg .tick line {
      opacity: .1;
      stroke-width: 1; }
    .poll_chart svg .line-pane .line {
      fill: none;
      stroke: black;
      shape-rendering: geometricPrecision; }
    .poll_chart svg .area-pane .area {
      fill-opacity: 0.2;
      fill: grey;
      shape-rendering: geometricPrecision; }
    .poll_chart svg .points-pane .points circle {
      fill: grey;
      stroke: none;
      shape-rendering: geometricPrecision; }

.line_0 {
  stroke: red !important; }

.area_0 {
  fill: red !important; }

.points_0 circle {
  fill: red !important; }

.line_1 {
  stroke: blue !important; }

.area_1 {
  fill: blue !important; }

.points_1 circle {
  fill: blue !important; }

.line_2 {
  stroke: green !important; }

.area_2 {
  fill: green !important; }

.points_2 circle {
  fill: green !important; }

.line_3 {
  stroke: yellow !important; }

.area_3 {
  fill: yellow !important; }

.points_3 circle {
  fill: yellow !important; }

.line_4 {
  stroke: brown !important; }

.area_4 {
  fill: brown !important; }

.points_4 circle {
  fill: brown !important; }

.line_5 {
  stroke: pink !important; }

.area_5 {
  fill: pink !important; }

.points_5 circle {
  fill: pink !important; }

.line_6 {
  stroke: indigo !important; }

.area_6 {
  fill: indigo !important; }

.points_6 circle {
  fill: indigo !important; }

.line_7 {
  stroke: #fa8100 !important; }

.area_7 {
  fill: #fa8100 !important; }

.points_7 circle {
  fill: #fa8100 !important; }

.line_8 {
  stroke: black !important; }

.area_8 {
  fill: black !important; }

.points_8 circle {
  fill: black !important; }

body {
  padding-top: 3em;
  color: #424242; }
  body svg text {
    fill: #424242; }

.main-title {
  min-height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main-title h3 {
    font-size: 3em;
    font-weight: 600; }

a.dotted {
  border-bottom: 1px dotted; }
  a.dotted:hover {
    text-decoration: none; }

.share-btn {
  color: #bdbdbd; }
  .share-btn i {
    margin: 25px 25px 25px 25px;
    cursor: pointer;
    width: 1.85em;
    height: 1.85em;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    font-size: 2.5em; }
  .share-btn:hover {
    color: #424242; }
    .share-btn:hover i {
      border-color: #424242; }

/*# sourceMappingURL=application.css.map */
