$color_0: red;
$color_1: blue;

@mixin candidate_color($number, $color) {
  .line_#{$number} { stroke: $color !important;}
  .area_#{$number} { fill: $color !important;}
  .points_#{$number} circle { fill: $color !important;}
}

@include candidate_color(0, red);
@include candidate_color(1, blue);
@include candidate_color(2, green);
@include candidate_color(3, yellow);
@include candidate_color(4, brown);
@include candidate_color(5, pink);
@include candidate_color(6, indigo);
@include candidate_color(7, #fa8100);
@include candidate_color(8, black);

