.poll_chart {
  position: relative;

  $area-opacity: 0.2;

  svg {width: 100%; height: 100%;}

  svg {
    position: absolute;
    left: 0;
    top: 0;
  };

  rect.mouse-trap {
    fill: white;
  }

  svg {
    shape-rendering: crispEdges;
    overflow: visible;

    .cross {
      stroke: black;
    }

  > g {
    cursor: crosshair;
  }

    .axis path {
      opacity: .1;
      stroke-width: 1;
    }

    .axis--x {
      path.domain {
        stroke: black;
        opacity: 1;
      }

      line {display: none;}
    }

    .axis--y path.domain {
      display: none;
      stroke: black;
      opacity: 1;
    }

    .axis--y.axis--y--ticks .tick {
      line {
        stroke: #ddd;
        stroke-width: 1;
      }

      text {display:none;}
    }

    .axis--y.axis--y--labels .tick {
      text { fill: #777;}
    }

    .chart-pane .line {
      fill: none;
      stroke: black;
      stroke-opacity: 0.9;
      //stroke-dasharray: 10,10;
      shape-rendering: geometricPrecision;
      stroke-width: 3;

      &.boundary {
        stroke-opacity: 0.3;
        stroke-width: 1;
      }
    }

    .chart-pane .area {
      fill-opacity: $area-opacity;
      fill: white;
      shape-rendering: geometricPrecision;
    }

    .chart-pane .area.center {
      fill-opacity: 0.8;
      fill: white;
      shape-rendering: geometricPrecision;
    }

    .chart-pane .points circle {
      fill: grey;
      stroke: none;
      fill-opacity: 0.7;
      shape-rendering: geometricPrecision;
    }



    line.year-line {stroke: black;}
    line.top-line {stroke: black; stroke-dasharray: 4 4}

    text.result {
      text-anchor: middle;
      font-size: 1.3em;
      font-weight: 600;

      &.background {
        text-anchor: middle;
        font-size: 1.3em;
        fill: none !important;
        stroke-width: 0.5rem;
        stroke-opacity: 1;
        stroke-linejoin: round;
      }
    }

    text.moving-date {
      text-anchor: start;
    }

    rect.distribution {
      fill-opacity: $area-opacity;
    }

    text.candidate-name {
      font-size: 1em;

    }

  }





  canvas {}
}