.poll_chart {
  position: relative;

  svg {width: 100%; height: 100%;}
  //canvas {width: 100%; height: 100%;}

  svg {
    position: absolute;
    left: 0;
    top: 0;
  };


  svg {
    shape-rendering: crispEdges;
    overflow: visible;

    .axis--x path {
      /*display: none;*/
    }

    .axis path {
      opacity: .1;
      stroke-width: 1;
      //display: none;
    }

    .axis--y path {
      display: none;
    }

    .tick line {
      opacity: .1;
      stroke-width: 1;
      //display: none;
    }


    .line-pane .line {
      fill: none;
      stroke: black;
      shape-rendering: geometricPrecision;
    }

    .area-pane .area {
      fill-opacity: 0.2;
      fill: grey;
      shape-rendering: geometricPrecision;
    }

    .points-pane .points circle {
      fill: grey;
      stroke: none;
      shape-rendering: geometricPrecision;
    }

  }

  canvas {
  }



}