
@import "base/variables";
@import "base/mixins";
@import "base/base";


@import "components/header";
@import "poll_chart";
@import "color_scheme";

body {
  padding-top: 3em;
  color: $main-text;

  svg text { fill: $main-text };
}

.main-title {
  min-height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 2.3em;
    font-weight: 800;
  }
}

h4 {
  font-weight: 300;
}


a.dotted {
  border-bottom: 1px dotted;

  &:hover {
    text-decoration: none;
  }
}

.footer {
  .share-btn {
    color: #bdbdbd;
    i {
      margin: 25px 25px 25px 25px;
      cursor: pointer;
      width: 1.85em;
      height: 1.85em;
      border: 1px solid #bdbdbd;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      padding: 15px;
      font-size: 2.5em;
    }

    &:hover {
      color: $main-text;
      i {
        border-color: $main-text;
      }
    }
  }
}


.infobox {
  position: absolute;
  top: 35px;
  left: -25px;

  max-width: 150px;

}